$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$font-logo:'Poppins', sans-serif;
$primary-color: #2B59FF;
$alert-color :#FF4A3D;
$dark-color: #000;
$light-color: #fff;
$bg-grey:#eeeff0;
@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}
@mixin  text-aligne-center {
  text-align: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

body{
  font-family: $primary-font;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
#container{
    display: grid;
    width: 100%;
    height: auto;
}

/* ---- LANDING ---- */
.container-landing{
  margin: auto;
}

.header-slogan{
  max-width: auto;
  height: auto;
  background-color: lawngreen;
}
.header-title{
  font-size: 3em;
  font-family: $primary-font;
  margin: 1em 0 0 0;
  font-weight: 400;
}
.header-text{
  color: #737B7D;
  margin-bottom: 1em;
  font-weight: 300;
}
.span-gradient{
  background-image: linear-gradient(91.26deg, #5566fe 15%, #EB76FF 21.74%, #FF56A9 54.03%, #FF9B52 85.28%);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: line-through;
}
.header-image{
  width: auto;
  background-color: #EF96FF;
  img{
    transform: scale(1.2);
    position: relative;
    margin: 0 auto;
  }
}

.circle-arrow{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  @include flex-center();
  border: 2px solid rgb(152, 152, 152);
  margin-top: 5em;
  cursor: pointer;
  &:hover{
    border: 2px solid rgb(45, 45, 45);
  }
  .circle:hover{
    opacity: 1;
  }
}

.circle{
  width: 40px;
  height: 40px;
  position: relative;
  transform: scale(0.7);
  opacity: 0.6;
  color: #000;
}

.l-hone{
  margin: 0;
  text-align: center;
}
/* --- CARD LANDING --- */
#card-feat-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fill, 349px);
  grid-gap: 60px;
  justify-content: center;
}
.card-feat{
  @include flex-center();
  flex-direction: column;
  height: 396px;
  width: 349px;
  border-radius: 25px;
  background-color: #fff;
  margin-top: 7em ;
  text-align: center;
}
.card-feat-htwo{
  margin: 0;
  font-size: 1.3em;
}
.card-feat-text{
  color:rgb(152, 152, 152);
  font-size: 0.9em;
}
.card-feat-circle{
  width: 80px;
  height: 80px;
  @include flex-center();
  background-color:rgb(26, 26, 26) ;  
  margin-top: 5em;
  margin: 0 0 3em 0 ;
  border-radius: 50px;
}
.round-up:nth-child(1){
  background-color: rgb(2, 164, 107);
  color: #fff;
  padding: 0.3em 0.5em;
  border-radius: 50px;
  position: relative;
}
.pointer{
  transform: scale(0.8);
}
.btn-cta{
  margin-top: 0.5em;
}

.w-crypto{
  width: 100%;
  padding: 2em 0;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  border-radius: 1em;
  border: 1px solid $bg-grey;
  @include flex-center();
  gap: 15px;
}
.b-crypto-data{
  width: auto;
  background-color: $bg-grey;
  padding: 1em 4em;
  border-radius: 1em;
}
/* ---- FORM ---- */

.title-form{
  font-size: 2em;
  margin: 0 0 1em 0;
}
.link-redirect{
  color: #0d15ff;
}
.n-login-signup{
  font-size: 0.8em;
}
/* ----- CARD --- */

.h-card{
  position: absolute;
  width: auto;
  margin: 0 auto;
  padding: 1em;
  color: #fff;
  margin-top: 5%;
  text-align: center;
}
.h-card-title{
  font-size: 2em;
  font-weight: 600;
  width: auto;
  margin: 0;
}
.h-card-text{
  font-weight: 300;
  width: auto;
}

/* ---- PROFIL ---- */
.avatar-p{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: linear-gradient(91.26deg, #8A94EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%);
  font-weight: 600;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.user-email,.user-name{
  margin: 0;
}
.user-name{
  font-size: 1.5em;
  margin-top: 5px;
}
.user-email{
  color:rgb(152, 152, 152);
  font-weight: 300;
  margin: 0;
}

.profil-wrap{
  background-color: #fff;
  border-radius: 40px;
  max-width: 500px;
  padding: 5em 3em;
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}
.hone-center{
  text-align: center;
}
.cube{
  width: 50px;
  height: 50px;
  transform: scale(1.5);
  position: absolute;
}
.cube-white{
  left: 24.5em;
  top: 12em;
  z-index: 1;
}
.cube-black{
  right: 24.5em;
  bottom: 3em;
}

/*  ---- MARKET PAGE ---- */
.landing-market{
  background-color: #FFDF8D;
}
/* ---- C ROW ---- */
.link-redirect-buy{
  color: #000;
}

.market-result{
  padding-bottom: 2em;
}

.c-row-container{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  height: 5em;
  margin: 1em 0 0 0 ;
  transition: all .1s ease-in-out;
  border-radius: 10px;
  padding: 1em 1em;
  &:hover{
    background-color: $bg-grey;
    .btn-cta-market{
      display: block;
    }
  }
  cursor: pointer;
}
.btn-cta-market{
  display: none;
  position: absolute;
  margin: 0 0 0 2.5em ;
  right: 0;
}
.c-img-name-id{
 display: flex;
 align-items: center;
 gap: 5px;
 width: 105px;
 padding: 0 0.5em 0 0 ;
}

.c-img{
    width: 20px;
}
.c-rank{
  margin-right: 4%;
}
.c-img-name-id{
  margin-right: 5%;
}
.c-name-id{
  color: rgb(135, 135, 135);
}
.c-price{
  margin-right: 3.5%;
  width: 50px;
  padding: 0 0.5em 0 0 ;
  @include flex-end();
}
.c-ev-day-prct{
  margin-right: 4%;
  @include flex-end();
  width: 50px;
}
.c-ev-day-prc{
  margin-right: 3.5%;
  width: 70px;
  @include flex-end();
}
.c-market-cap {
  margin-right: 6%;
  width: 100px;
  @include flex-end();
}
.c-market-cap-prc {
  margin-right: 7%;
  width: 100px;
  @include flex-end();
}
.c-market-cap-prct {
  margin-right: 5%;
  width: 100px;
  @include flex-end();
}
.c-t-volum {
  width: 100px;
  @include flex-end();
}
.c-more-w{
  width: 100%;
  @include flex-center();
}
.c-more{
  position: relative;
  margin: 2em auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
}
/* ---- C ROW ---- */
#col-info,#col-info-activity{
  max-width: auto;
  display: flex;
  color: rgb(135, 135, 135);
}
.col-i{
  font-size: 0.8em;
}

.name{
  margin-right: 13%;
}
.price{
  margin-right: 4%;
}
.daypct{
  margin-right: 6%;
}
.dayprc{
  margin-right: 5%;
}
.market-t{
  margin-right: 5.5%;
}
.market-prc{
  margin-right: 5.5%;
}
.market-prct{
  margin-right: 7.5%;
}


/*  ---- MARKET PAGE ---- */

/*  ---- MODAL ---- */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.modal{
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
.modal button{
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
}
.modal p{
  color: #444;
  font-weight: bold;
}
/*  ---- MODAL ---- */
.add-c{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $dark-color;
  margin: 0.5em auto;
  cursor: pointer;
  @include flex-center();
  color: $light-color;
  font-size: 2em;
  &:hover{
    background-color: $primary-color;
  }
}
/*  ---- ROW CONTACT ---- */
.modal-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  @include flex-center();
}
.modal-box{
  max-width:40%;
  height: auto;
  background-color: #F9F9F9;
  border-radius: 20px ;
  padding: 3em 3em;
  margin: 0 auto;
  z-index: 2;
  
}


.overlay{
  position: absolute;
  background-color: $dark-color;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  z-index: -1;
}
.close-add-c {
  position: absolute;
  width: 20px;
  height: 20px;
  @include flex-center();
  cursor: pointer;
  margin: -2.2em 0 0 33em;
  padding: 0;
}

.close-add-c:before, .close-add-c:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: grey;
}

.close-add-c:before {
  transform: rotate(45deg);
  
}
.close-add-c:after {
  transform: rotate(-45deg);
}
.form-contact{
  @include flex-center();
  flex-direction: column;
}
.r-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  margin: 1em 0;
  transition: all 50ms ease-out;
  font-size: 0.9em;
  &:hover{
    background-color: $bg-grey;
    border-radius: 8px;
  }
}
.r-email{
  width: 250px;
  @include flex-start();
  text-align: left;
}
.r-firstname{
  width: 150px;
  @include flex-end();
  margin: 0;
}
.r-lastname{
  width: 150px;
  @include flex-end();
  margin: 0;
}
.c-trash{
  cursor: pointer;
}
.c-id{
  margin: 0 4em 0  0.5em ;
}
.c-email{
  margin: 0 23em 0  0.5em ;
}
.c-firstname{
  margin: 0 9.2em 0  0.5em ;
}
.c-lastname{
  margin: 0 4.7em 0  0.5em ;
}
.c-id-wallet{
  margin: 0 10.8em 0  0.5em ;
}
.c-delete{
  margin: 0 0 ;
}
/*  ---- ROW CONTACT ---- */
/*  ---- ACTIVITY PAGE ---- */
#activity-container{
  display: flex;

}
.a-type{
  margin: 0 11em 0 1em ;
}

.a-total{
  margin: 0 19.5em 0 0 ;
}
.a-id{
  margin: 0 0em 0 0 ;
}
.a-date{
  margin: 0 8em 0 0 ;
}

.o-t-order{
  background-color: rgb(2, 164, 107);
}
.o-t-transfert{
  background-color: #ffc532;
}
.o-type{
  margin: 0 .5em 0 0 ;
  border-radius: 3px;
  padding: .2em .2em;
  color: #fff;
  min-width: 50px;
  text-align: center;
  font-size: 0.8em;
}
.o-name{
  margin: 0 2em 0 0 ;
  width: 130px;
}

.o-total{
  margin: 0 9.5em 0 0 ;
  width: 80px;
}
.o-id{
  margin: 0 0 0 0 ;
  width: 280px;
}
.o-date{
  margin: 0 9em 0 0 ;
}


/*  ---- ACTIVITY PAGE ---- */
#r-o-container{
  transition: all 10s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: auto;
}

// .l-rows--3 {
//   // forcing row height since I have no content
//   grid-template-rows: repeat(2, 550px);
//   background-color: #0d15ff;
// }

/*  ---- TRANSFERT PAGE ---- */
.modal-box-transfert{
  max-width:60%;
  height: auto;
  background-color: $light-color;
  border-radius: 20px ;
  padding: 2em 3em;
  margin: 0 auto;
  z-index: 2;
}
.m-form-wrap{
  @include flex-center();
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
.m-content-wrap{
  width: 50%;
  margin: .5em 1em;
}
.m-form-wrap:nth-child(3){
  margin: 0 0 1.5em 0;
}
#m-header{
  margin: 0;
  padding: 0;
  text-align: center;
  .m-header-text,.m-header-title{
    margin: 0 0 .3em 0;
  }
  .m-header-title{
    font-size: 1.8em;
  }
  .m-header-text{
    font-size: .9em;
    color: grey;
  }
}
.message-input{
  height: auto;
  padding: .5em .5em;
  width: 97%;
  font-family: $primary-font;
  border: .5px solid rgb(196, 196, 196);
  border-radius: 5px;
  overflow-x: scroll;
  font-size: .9em;
}
.m-content-input{
  width: auto;
  text-align: center;
  
  .m-content-input-text{
    border-radius: 10px;
    padding: .5em .7em;
    background-color: rgb(43, 43, 43);
    color: $light-color;
    font-size: .9em;
  }
  .m-amount-input{
    margin: 2em 0 2em 0 ;
  }
}
/*  ---- TRANSFERT PAGE ---- */

// display grid layout for 750px or wider
@media screen and (min-width: 250px) and (max-width:880px){

    .l-rows--3 {
        grid-template-columns:repeat(auto-fill, 450px);
    }
    .header-slogan{
      margin: 0;
      width: 100%;
     .header-title{
       font-size: 2em;
     }
     .header-text{
       font-size: 1.5em;
       font-weight: 3;
     }
    }
    .circle-arrow{
      display: none;
    }
    .header-image{
      background-color: red;
      width: 100%;
    }
    #container-dashboard{
      flex-direction: column;
    }
} 

// end media query
