$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$font-logo:'Poppins', sans-serif;
$primary-color: #2B59FF;
$alert-color :#FF4A3D;
$dark-color: #000;
$light-color: #fff;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-justify-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container-dashboard{
  display: flex;
  padding: 0 ;
  width: 100%;
}

.center-content{
  min-width: 94%;
  max-width: auto;
  height: 120vh;
}

.recap{
  position: relative;
  color: white;
  max-width: 100%;
  height: 25%;
  margin: 1em 0;
  border-radius: 20px;
  @include flex-justify-column-center();
  background: url('https://images.unsplash.com/photo-1634129366530-61d3e56a84fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80');
  background-size:cover;
  overflow: hidden;
}

.header-recap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100% ;
  max-height: 48px;
  position: absolute;
  bottom: 0;
  &::after{
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    padding: 1.5em 0;
    opacity: 0.7;
    background: rgb(30, 30, 30);
  }
  h4{
    font-size: 2em;
    margin: 0;
    z-index: 1;
    }
}
.col-header{
  min-width: 100px;
  @include flex-space-around();
  align-items: center;
}

.col-recap{
  max-width: 100px;
  padding: .5em;
  margin: 0 .5em;
  z-index: 1;
  p,h4{
    margin: 0;
    text-align: center;
  }
  p{
    font-size: .8em;
  }
  h4{
    font-size: 1.5em;
  }
}
.c-h-wrap{
  display: block;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 2em auto;
}


.circle-balance{
  min-width:120px;
  max-height: 120px;
  border-radius: 150px;
  background: linear-gradient(to right, #a482e6, #4257f4);
  padding: .5em 2em;
  background-clip: padding-box;
  color: #ffffff;
  opacity: .95;
  margin: 0 auto;
  margin-bottom: 5em;
  @include flex-center();
  flex-direction: column;
  h3,p{
    margin: 0;
  }
  h3{
    font-size: 1.8em;
  }
  p{
    color: black;
  }
}
#market-wrap{
  background-color: royalblue;
  margin: 0;
}

.wrap-crypto{
  background: #2b2929; /* fallback for old browsers */
  min-width: 120px;
  max-width: 150px;
  max-height: 100px;
  padding: 1em 1em;
  margin: 0 1em;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  p, h4{
    margin: 0em;
  }
  .crypto-name{
    font-size: 1em;
    border-radius: 5px ;
  }
  .crypto-id{
    font-size: .8em;
    color: #b7b7b7;
  }
  .crypto-price{
    font-size: 1.1em;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: .1em;
    font-weight: 600;
  }
  .crypto-rate-up{
    background: seagreen;
    border-radius: 50px;
    max-width: auto;
    font-size: .8em;
    span{
      font-size: 1em;
      margin: 0 .2em;
    }
  }
  .crypto-rate-down{
    background: rgb(247, 38, 38);
    border-radius: 50px;
    font-size: .8em;
    span{
      font-size: 1em;
    }
  }
}
.crypto-market-vogue{
  background-color: white;
  border-radius: 20px;
  padding: 1.5em 1em;
  position: relative;
  h2{
    margin: 0;
    margin-bottom: .5em;
    font-size: 1.4em;
  }
  
}
.c-arrows{
  max-width: 30%;
  margin: .8em auto;
  display: flex;
  justify-content: center;
  .swipe{
    transform: scale(1.8);
    animation: 1s ease-out .8s 2 slidein ;
    animation-name: rotateFinger;
  }
  @keyframes rotateFinger {
    0%{
      transform: rotate(0deg) scale(1.8);
    }
    50%{
      transform: rotate(45deg) scale(1.8);
    }
    100%{
      transform: rotate(-25deg) scale(1.8);
    }
  }
}

@media only screen and (min-width:250px) and (max-width:400px) and (max-height:815px){
 .center-content{
   max-height: auto;
   text-align: center;
 }
 .recap{
   .header-recap{
     h4{
       font-size: 1.1em;
     }
     .col-recap{
       margin: 0;
     }
   }
 }
 #r-o-container{
   .o-t-order,.o-name,.o-date,.o-total{
     margin: 0;
   }
  .o-id{
    display: none;
   }
  .o-t-order{
    margin: 0 .3em 0 0;
  }
  .o-date{
    max-width: 15em;
    margin: 0 5em 0 0 ;
  }
  .o-total{
    margin:  0;
  }
 }
}
