$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$font-logo:'Poppins', sans-serif;
$primary-color: #2B59FF;
$alert-color :#FF4A3D;
$dark-color: #000;
$light-color: #fff;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-justify-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container-dashboard{
  display: flex;
  padding: 0 ;
  width: 100%;
}

.center-content{
  min-width: 94%;
  max-width: auto;
  height: 120vh;
}

.recap{
  position: relative;
  color: white;
  max-width: 100%;
  height: 30%;
  margin: 1em 0;
  border-radius: 20px;
  @include flex-justify-column-center();
  background: url('https://images.unsplash.com/photo-1634129366530-61d3e56a84fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80');
  background-size:cover;
  overflow: hidden;
}
.aside-right-dash{
  max-width: 20%;
  background-color: #ffffff;
}
.header-recap{
  display: flex;
  justify-content: space-around;
  width: 100% ;
  position: absolute;
  bottom: 0;

  &::after{
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    padding: 2.5em 0;
    opacity: 0.7;
    background: rgb(30, 30, 30);
   
  }
  h4{
    font-size: 2em;
    margin: 0;
    z-index: 1;
    }
}
.col-header{
  min-width: 100px;
  @include flex-space-around();
  align-items: center;
}

.col-recap{
  max-width: 100px;
  padding: .5em;
  margin: 0 .5em;
  z-index: 1;
  p,h4{
    margin: 0;
    text-align: center;
  }
  p{
    font-size: .8em;
  }
  h4{
    font-size: 1.5em;
  }
}
.c-h-wrap{
  display: block;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 2em auto;
}


.circle-balance{
  max-width:150px;
  max-height: 150px;
  border-radius: 150px;
  background: linear-gradient(to right, #a482e6, #4257f4);
  padding: 1em 3em;
  background-clip: padding-box;
  color: #ffffff;
  opacity: .95;
  margin: 0 auto;
  margin-bottom: 5em;
  @include flex-center();
  flex-direction: column;
  h3,p{
    margin: 0;
  }
  h3{
    font-size: 1.8em;
  }
  p{
    color: #d8d8d8;
  }
}
#market-wrap{
  background-color: royalblue;
  margin: 0;
}

.wrap-crypto{
  background: #2b2929; /* fallback for old browsers */
  min-width: 150px;
  max-width: 200px;
  height: 120px;
  padding: 2em 1.5em;
  margin: 0 1em;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  p, h4{
    margin: 0em;
  }
  .crypto-name{
    font-size: 1.3em;
    border-radius: 5px ;
  }
  .crypto-id{
    font-size: .8em;
    color: #b7b7b7;
  }
  .crypto-price{
    font-size: 1.8em;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: .1em;
    font-weight: 600;
  }
  .crypto-rate-up{
    background: seagreen;
    border-radius: 50px;
    span{
      font-size: 1.3em;
    }
  }
  .crypto-rate-down{
    background: rgb(247, 38, 38);
    border-radius: 50px;
    span{
      font-size: 1.3em;
    }
  }

}