#navbar{
  color: white;
  padding: 1rem;
  width: auto;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(242, 242, 242);
  
}

ul{
  display: flex;
}
