$font-primary:'Poppins', sans-serif;
$light-color: #fff;

@mixin flex-justify-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-content{
  max-width: 80px;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: $font-primary;
  border-right: .2px solid rgb(237, 237, 237);
  background-color: $light-color ;
}
.ul-sidenav{
  list-style: none;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  a{
    max-width: 100%;
  }
  
}

.logo{
  border-radius: 50px;
  transform: scale(2);
  margin: 0 auto;
}

.li-sidenav-icon{
  @include flex-center();
  transform: scale(1.2);
  color: #b0b0b0;
}
.li-icon-img{
  transform: scale(1.1);
  padding: .5em .3em;
}
.text-sidenave{
  min-width: 100px;
  display: none;
}
.li-sidenav{
  color: rgb(149, 149, 149);
  @include flex-center();
  margin: 2em auto;
  cursor: pointer;
  transition: all .1s ease-in-out;
  max-width:50px;
  &:hover{
    background-color: #242424;
    box-shadow: .1em .1em .2em #e6e7e8;
    border-radius: 10px;
    .li-sidenav-icon{
      color: $light-color;
    }
  }
}

.h-left-content{
  min-width: 100%;
  max-height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 0;
} 

.aside-left-content{
  width: auto;
  height: 100%;
}

.box-signout-profil{
  @include flex-justify-column-center();
  border-radius: 15px;
  margin: 5em auto;
}